<div class="container-fluid" style="background-color: #e9ecef" id="Dashboard">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div data-bind="template: { name: 'template-users' }"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div data-bind="template: { name: 'template-best-posts' }"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div data-bind="template: { name: 'template-charts' }"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div data-bind="template: { name: 'template-history' }"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="template-users">
    <div class="card">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <div data-bind="component: {name: 'List', params: userCard()}" />
        </div>
    </div>
</script>

<script type="text/html" id="template-best-posts">
    <div class="card">
        <div class="card-header">
            Top score
        </div>
        <div class="card-body">
            <div data-bind="component: {name: 'List', params: topScoreCard()}" />
        </div>
    </div>
</script>

<script type="text/html" id="template-charts">
    <div class="card">
        <div class="card-header">
            Tags cloud
        </div>
        <div class="card-body">
            <div data-bind="component: { name: 'WordCloud' }">
            </div>
        </div>
</script>

<script type="text/html" id="template-history">
    <div class="card">
        <div class="card-header">
            Search history
        </div>
        <div class="card-body">
            <div data-bind="component: {name: 'List', params: searchHistoryCard()}" />
        </div>
    </div>
</script>