<div class="container post" data-bind="if: post() !== undefined ">
    <!--post-->
    <div class="container">
        <div class="row">
            <div class="col-10 order-2 col-sm-12 order-sm-1">
                <h1 class="display-3 title" data-bind="text: post().title"></h1>
            </div>
            <div class="col-12 order-3 order-sm-1">
                <hr />
            </div>
            <!--score-->
            <div class="col-1 order-1 order-sm-2 no-padding">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 flex justify-content-center">
                            <div class="score" data-bind="text: post().score"></div>
                        </div>
                        <div class="col-12 flex justify-content-center">
                            <i class="material-icons md-48">star_border</i>
                        </div>
                    </div>
                </div>
            </div>
            <!--body-->
            <div class="col-12 col-sm-8 order-3">
                <p data-bind="html: post().body" />
            </div>
            <!--tag-->
            <div class="col-6 offset-sm-1 col-sm-8 order-5">
                <div data-bind="foreach: tags">
                    <a href="#" class="badge badge-primary" data-bind="text: $data"></a>
                </div>
            </div>
            <!--date & author-->
            <div class="col-6 col-sm-3 order-sm-3 order-4">
                <div>
                    Asked at
                    <b>
                        <span data-bind="text: new Date(post().creationDate).toLocaleDateString('en-GB')" />
                    </b>
                </div>
                <div>
                    By
                    <b data-bind="if: user().data">
                        <a data-bind="text: user().data.displayName, attr: { href: user().url, title: user().data.displayName }">
                        </a>
                    </b>
                </div>
            </div>
            <!--comments-->
            <div class="col-12 offset-sm-1 col-sm-8 order-6">
                <div class="moreComments" data-bind="if: comments().length > 3, css: {'extended': condensedComment() }">
                    <h5 class="display-5">Comments</h3>
                        <button type="button" class="btn btn-link" data-bind="click: changeComment()">
                            See all
                            <span data-bind="text: numberComments()" /> comments
                        </button>
                        <div class="container comments" data-bind="template: { name: 'comment-template', foreach: !condensedComment() ? commentsShowed : comments }"
                        />
                </div>
                <div data-bind="if: comments().length <= 3">
                    <div class="container comments" data-bind="template: { name: 'comment-template', foreach: comments }" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="comment-template">
    <div class="row align-items-center comment justify-content-center">
        <!--score-->
        <div class="col-1" data-bind="text: score">

        </div>
        <!--text-->
        <div class="col-7 flex align-items-center">
            <div class="comment-body" data-bind="text: displayText()" />
        </div>
        <!--user-->
        <div class="d-none d-md-block col-4 container-fluid">
            <div class="row">
                <div class="col-6 " data-bind="if: $data.hasOwnProperty('user')">
                    <a data-bind="text: user.data.displayName, attr: { href: user.url }" />
                </div>
                <!--date-->
                <div class="col-6" data-bind="text: new Date(creationDate).toLocaleDateString('en-GB')">

                </div>
            </div>
        </div>
        <div class="d-md-none col-4">
            <div data-bind="if: $data.hasOwnProperty('user')">
                <a data-bind="text: user.data.displayName, attr: { href: user.url }" />
                <span data-bind="text: new Date(creationDate).toLocaleDateString('en-GB')">
                </div>
            </div>
        </div>
    </div>
</script>