<div class="container post" data-bind="if: post() !== undefined ">
    <!--post-->
    <div class="container">
        <div class="row">
            <div class="col-10 order-2 col-sm-12 order-sm-1">
                <!-- ko if: post().parentId && location.hash.slice(1).split('/')[0] === 'Post' -->
                <a class="display-3 title" data-bind="attr: { href: '#Question/' + post().parentId, title: 'Go to question' }">
                    Go to Parent
                </a>
                <!-- /ko -->
                
                <!-- ko if: post().lightView -->
                <a class="display-3 title" data-bind="attr: { href: '#Question/' + post().id, title: post().title }, text: post().title"></a>
                <!-- /ko -->
                <!-- ko if: !post().lightView -->
                <a class="display-3 title" data-bind="text: post().title"></a>
                <!-- /ko -->
            </div>
            <div class="col-12 order-3 order-sm-1">
                <hr />
            </div>
            <!--score-->
            <div class="col-1 order-1 order-sm-2 no-padding">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 flex justify-content-center">
                            <div class="score" data-bind="text: post().score"></div>
                        </div>
                        <div class="col-12 flex justify-content-center">
                            <i class="material-icons md-48">star_border</i>
                        </div>
                    </div>
                </div>
            </div>
            <!--body-->
            <div class="col-12 col-sm-8 order-3">
                <!-- ko if: post().lightView -->
                <p data-bind="html: post().lightBody" />
                <!-- /ko -->
                <!-- ko if: !post().lightView -->
                <p data-bind="html: post().body" />
                <!-- /ko -->
            </div>
            <!--tag-->
            <div class="col-6 offset-sm-1 col-sm-8 order-5">
                <div data-bind="foreach: tags">
                    <a href="#" class="badge badge-primary" data-bind="text: $data"></a>
                </div>
            </div>
            <!--date & author-->
            <div class="col-6 col-sm-3 order-sm-3 order-4">
                <div>
                    Asked at
                    <b>
                        <span data-bind="text: new Date(post().creationDate).toLocaleDateString('en-GB')" />
                    </b>
                </div>
                <div style="margin-bottom: 1em;">
                    By
                </div>
                <div>
                    <b data-bind="if: user().data">
                        <div data-bind="template: {name: 'user-link', data: {data: user().data, img: authorAvatar()} }">

                        </div>
                    </b>
                </div>
            </div>
            <!--comments-->
            <!-- ko if: !post().lightView -->
            <div class="col-12 offset-sm-1 col-sm-8 order-6">
                <div class="moreComments" data-bind="if: comments().length > 3, css: {'extended': condensedComment() }">
                    <h5 class="display-5">Comments</h3>
                        <button type="button" class="btn btn-link" data-bind="click: changeComment()">
                            See all
                            <span data-bind="text: numberComments()" /> comments
                        </button>
                        <div class="container comments" data-bind="template: { name: 'comment-template', foreach: !condensedComment() ? commentsShowed : comments }"
                        />
                </div>
                <div data-bind="if: comments().length <= 3">
                    <div class="container comments" data-bind="template: { name: 'comment-template', foreach: comments }" />
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>

<script type="text/html" id="comment-template">
    <div class="row align-items-center comment justify-content-center">
        <!--score-->
        <div class="col-1" data-bind="text: score">

        </div>
        <!--text-->
        <div class="col-7 flex align-items-center">
            <div class="comment-body" data-bind="text: displayText()" />
        </div>
        <!--user-->
        <div class="d-none d-md-block col-4 container-fluid">
            <div class="row">
                <div class="col-6 " data-bind="if: $data.hasOwnProperty('user')">
                    <div data-bind="template: {name: 'user-link', data: { data: user.data, img: user.data.avatar }}" />
                </div>
                <!--date-->
                <div class="col-6" data-bind="text: new Date(creationDate).toLocaleDateString('en-GB')">

                </div>
            </div>
        </div>
        <div class="d-md-none col-4">
            <div data-bind="if: $data.hasOwnProperty('user')">
                <div data-bind="template: {name: 'user-link', data: {data: user.data, img: user.data.avatar}">
                    <span data-bind="text: new Date(creationDate).toLocaleDateString('en-GB')" />
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="user-link">
    <img class="avatar-user" data-bind="attr: { src: img }" />
    <a data-bind="text: data.displayName, attr: { href: '#User/' + data.id, title: data.displayName }">
    </a>
</script>