<div class="no-gutters grey-bc min-fh" id="Question">
    <div data-bind="component: { name: 'Post', params: question }" />
    <div class="container noOfAnswers">
        <h3 class="display-5">
            <span data-bind="text: answerText()"></span>
        </h3>
    </div>
    <div style="overflow: hidden;" data-bind="if: loadingAnswers()">
        <div class='container flex justify-content-center loading center-auto'>
            <div class="flex justify-content-center" id='largeBox'>
                <div class="flex justify-content-center" id='smallBox' />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters grey-bc min-fh" id="Answers" data-bind="foreach: answers">
            <div data-bind="component: { name: 'Post', params: $data.data }">
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <nav aria-label="..." style="width: 100%;">
                        <ul class="pagination" style="align-items: center; justify-content: space-between; width: 100%">
                            <li class="page-item" data-bind="click: goPrev, css: { disabled: !prev() }">
                                <span class="page-link">Previous</span>
                            </li>
                            <li>
                                page:
                                <span data-bind="text: answersPage()"></span>
                            </li>
                            <li>
                                show:
                                <select class="pageSize" data-bind="options: sizeAviable, value: answersPageSize(), event: { change: changePageSize }">
                                </select>
                            </li>
                            <li class="page-item" data-bind="click: goNext, css: { disabled: !next() }">
                                <span class="page-link">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</div>