<div class="no-gutters grey-bc min-fh" id="Search">
    <div style="overflow: hidden; padding-top:2em;" data-bind="if: loading()">
        <div class='container flex justify-content-center loading center-auto'>
            <div class="flex justify-content-center" id='largeBox'>
                <div class="flex justify-content-center" id='smallBox' />
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="display-5">
            <span data-bind="text: searchText()"></span>
        </h3>
    </div>
    <div data-bind="foreach: searchResults">
        <div data-bind="component: { name: 'Post', params: data }">
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="row no-gutters">
                <nav aria-label="..." style="width: 100%;">
                    <ul class="pagination" style="align-items: center; justify-content: space-between; width: 100%">
                        <li class="page-item" data-bind="click: goPrev, css: { disabled: !prev() }">
                            <span class="page-link">Previous</span>
                        </li>
                        <li>
                            page:
                            <span data-bind="text: page()"></span>
                        </li>
                        <li>
                            show:
                            <select class="pageSize" data-bind="options: sizeAviable, value: pageSize(), event: { change: changePageSize }">
                            </select>
                        </li>
                        <li class="page-item" data-bind="click: goNext, css: { disabled: !next() }">
                            <span class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>